In [1]:
import sys
from pathlib import Path
from src.data.db import get_db_connection, execute_query
import os

# Add project root to Python path
project_root = Path().resolve().parents[1]

In [2]:
print(project_root)

C:\Users\kekoa\Documents\DataScience\mlb_pred

In [3]:
# Get the database path
conn = get_db_connection()
db_path = conn.execute("PRAGMA database_list").fetchall()[0][2]
conn.close()

print(f"Database path: {db_path}")
print(f"Database exists: {os.path.exists(db_path)}")

Database path: C:\Users\kekoa\Documents\DataScience\mlb_pred\data\pitcher_stats.db
Database exists: True

In [4]:
game_stats_df = execute_query("SELECT * FROM pitch_mix LIMIT 5")
print("Game Stats Table:")
display(game_stats_df)

Game Stats Table:

       id  game_stats_id pitch_type  percentage
0  430114         123430         FF    0.032258
1  430115         123430         FC    0.215054
2  430116         123430         SI    0.365591
3  430117         123430         CH    0.086022
4  430118         123430         CU    0.301075

In [5]:
table_schema = execute_query("PRAGMA table_info(game_stats)")
print("\nGame Stats Schema:")
display(table_schema)

Game Stats Schema:

    cid                    name     type  notnull dflt_value  pk
0     0                      id  INTEGER        0       None   1
1     1              pitcher_id  INTEGER        0       None   0
2     2                 game_id     TEXT        0       None   0
3     3               game_date     TEXT        0       None   0
4     4                  season  INTEGER        0       None   0
5     5              strikeouts  INTEGER        0       None   0
6     6                    hits  INTEGER        0       None   0
7     7                   walks  INTEGER        0       None   0
8     8               home_runs  INTEGER        0       None   0
9     9      release_speed_mean     REAL        0       None   0
10   10       release_speed_max     REAL        0       None   0
11   11  release_spin_rate_mean     REAL        0       None   0
12   12     swinging_strike_pct     REAL        0       None   0
13   13       called_strike_pct     REAL        0       None   0
14   14               zone_rate     REAL        0       None   0

In [6]:
# Function to display table preview and schema
def explore_table(table_name, limit=5):
    try:
        # Get sample data
        sample_data = execute_query(f"SELECT * FROM {table_name} LIMIT {limit}")
        print(f"\n{table_name} Table ({len(sample_data)} rows):")
        display(sample_data)
        
        # Get schema
        schema = execute_query(f"PRAGMA table_info({table_name})")
        print(f"\n{table_name} Schema:")
        display(schema)
        
        # Get row count
        count = execute_query(f"SELECT COUNT(*) as count FROM {table_name}")
        print(f"Total rows in {table_name}: {count.iloc[0]['count']}")
        
    except Exception as e:
        print(f"Error exploring {table_name}: {e}")

# Explore each table
for table in ['game_stats', 'pitchers', 'traditional_stats', 'pitch_mix', 'prediction_features']:
    explore_table(table)

game_stats Table (5 rows):

,id,pitcher_id,game_id,game_date,season,strikeouts,hits,walks,home_runs,release_speed_mean,release_speed_max,release_spin_rate_mean,swinging_strike_pct,called_strike_pct,zone_rate
0,123430,3559,716531,2023-09-18,2023,0,0,0,0,79.701075,87.6,2267.602151,0.0,0.0,0.0
1,123431,3559,716621,2023-09-12,2023,0,0,0,0,81.472340,89.0,2397.819149,0.0,0.0,0.0
2,123432,3559,716680,2023-09-07,2023,0,0,0,0,79.659615,88.0,2331.125000,0.0,0.0,0.0
3,123433,3559,716809,2023-08-28,2023,0,0,0,0,78.558065,87.3,2385.086022,0.0,0.0,0.0
4,123434,3559,716901,2023-08-22,2023,0,0,0,0,81.034783,87.5,2239.101449,0.0,0.0,0.0

game_stats Schema:

    cid                    name     type  notnull dflt_value  pk
0     0                      id  INTEGER        0       None   1
1     1              pitcher_id  INTEGER        0       None   0
2     2                 game_id     TEXT        0       None   0
3     3               game_date     TEXT        0       None   0
4     4                  season  INTEGER        0       None   0
5     5              strikeouts  INTEGER        0       None   0
6     6                    hits  INTEGER        0       None   0
7     7                   walks  INTEGER        0       None   0
8     8               home_runs  INTEGER        0       None   0
9     9      release_speed_mean     REAL        0       None   0
10   10       release_speed_max     REAL        0       None   0
11   11  release_spin_rate_mean     REAL        0       None   0
12   12     swinging_strike_pct     REAL        0       None   0
13   13       called_strike_pct     REAL        0       None   0
14   14               zone_rate     REAL        0       None   0

Total rows in game_stats: 41143

pitchers Table (5 rows):

   pitcher_id        player_name  statcast_id traditional_id
0           1   Wainwright, Adam       425794           None
1           2      Greinke, Zack       425844           None
2           3  Verlander, Justin       434378           None
3           4     Jansen, Kenley       445276           None
4           5      Chavez, Jesse       445926           None

pitchers Schema:

   cid            name     type  notnull dflt_value  pk
0    0      pitcher_id  INTEGER        0       None   1
1    1     player_name     TEXT        0       None   0
2    2     statcast_id  INTEGER        0       None   0
3    3  traditional_id  INTEGER        0       None   0

Total rows in pitchers: 4665

traditional_stats Table (5 rows):

,id,pitcher_id,season,team,era,k_per_9,bb_per_9,k_bb_ratio,whip,babip,lob_pct,fip,xfip,war
0,205,3480,2023,PHI,3.61,9.94,1.83,5.44,1.08,0.292,0.713,3.15,3.54,5.9
1,206,3481,2023,ATL,3.86,13.55,2.80,4.84,1.09,0.316,0.703,2.85,2.92,5.5
2,207,3482,2023,NYY,2.63,9.56,2.07,4.63,0.98,0.261,0.804,3.16,3.60,5.4
3,208,3483,2023,MIN,2.79,8.95,2.69,3.33,1.15,0.295,0.768,2.83,3.64,5.4
4,209,3484,2023,ARI,3.47,9.43,2.01,4.68,1.12,0.301,0.731,3.26,3.49,5.2

traditional_stats Schema:

    cid        name     type  notnull dflt_value  pk
0     0          id  INTEGER        0       None   1
1     1  pitcher_id  INTEGER        0       None   0
2     2      season  INTEGER        0       None   0
3     3        team     TEXT        0       None   0
4     4         era     REAL        0       None   0
5     5     k_per_9     REAL        0       None   0
6     6    bb_per_9     REAL        0       None   0
7     7  k_bb_ratio     REAL        0       None   0
8     8        whip     REAL        0       None   0
9     9       babip     REAL        0       None   0
10   10     lob_pct     REAL        0       None   0
11   11         fip     REAL        0       None   0
12   12        xfip     REAL        0       None   0
13   13         war     REAL        0       None   0

Total rows in traditional_stats: 102

pitch_mix Table (5 rows):

       id  game_stats_id pitch_type  percentage
0  430114         123430         FF    0.032258
1  430115         123430         FC    0.215054
2  430116         123430         SI    0.365591
3  430117         123430         CH    0.086022
4  430118         123430         CU    0.301075

pitch_mix Schema:

   cid           name     type  notnull dflt_value  pk
0    0             id  INTEGER        0       None   1
1    1  game_stats_id  INTEGER        0       None   0
2    2     pitch_type     TEXT        0       None   0
3    3     percentage     REAL        0       None   0

Total rows in pitch_mix: 143371

prediction_features Table (5 rows):

,id,pitcher_id,game_id,game_date,season,last_3_games_strikeouts_avg,last_5_games_strikeouts_avg,last_3_games_k9_avg,last_5_games_k9_avg,last_3_games_era_avg,last_5_games_era_avg,last_3_games_fip_avg,last_5_games_fip_avg,last_3_games_velo_avg,last_5_games_velo_avg,last_3_games_swinging_strike_pct_avg,last_5_games_swinging_strike_pct_avg,days_rest,team_changed
0,82287,2373,718288,2023-05-06,2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,5,1
1,82288,2373,718211,2023-05-12,2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,80.300000,80.300000,0.0,0.0,6,1
2,82289,2373,718124,2023-05-18,2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,81.038953,81.038953,0.0,0.0,6,1
3,82290,2373,718059,2023-05-23,2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,81.125969,81.125969,0.0,0.0,5,1
4,82291,2373,717975,2023-05-29,2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,81.325536,81.069152,0.0,0.0,6,1

prediction_features Schema:

    cid                                  name     type  notnull dflt_value  pk
0     0                                    id  INTEGER        0       None   1
1     1                            pitcher_id  INTEGER        0       None   0
2     2                               game_id     TEXT        0       None   0
3     3                             game_date     TEXT        0       None   0
4     4                                season  INTEGER        0       None   0
5     5           last_3_games_strikeouts_avg     REAL        0       None   0
6     6           last_5_games_strikeouts_avg     REAL        0       None   0
7     7                   last_3_games_k9_avg     REAL        0       None   0
8     8                   last_5_games_k9_avg     REAL        0       None   0
9     9                  last_3_games_era_avg     REAL        0       None   0
10   10                  last_5_games_era_avg     REAL        0       None   0
11   11                  last_3_games_fip_avg     REAL        0       None   0
12   12                  last_5_games_fip_avg     REAL        0       None   0
13   13                 last_3_games_velo_avg     REAL        0       None   0
14   14                 last_5_games_velo_avg     REAL        0       None   0
15   15  last_3_games_swinging_strike_pct_avg     REAL        0       None   0
16   16  last_5_games_swinging_strike_pct_avg     REAL        0       None   0
17   17                             days_rest  INTEGER        0       None   0
18   18                          team_changed  BOOLEAN        0       None   0

Total rows in prediction_features: 41143